#secao-ex-trabalho {
 display: flex;
 flex-direction: column;
 padding: 6.25rem 1.5rem;
 align-items: center;
 background-color: #f6f8fc;
}
.secao-claro {
 background-color: #f6f8fc;
}

#texto-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

#texto-container h2 {
 position: relative;
 font-size: 2.7rem;
 font-weight: 700;
 padding-bottom: 1.25rem;
 margin-bottom: 2rem;
}

#texto-container h2::before {
 position: absolute;
 content: '';
 background-color: #feb633;
 width: 100px;
 height: 4px;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0 auto;
}

#texto-container p {
 font-size: 1rem;
 font-weight: 400;
 max-width: 770px;
 margin-bottom: 4.5rem;
}

.texto-claro h2 {
 color: #32333c;
}
.texto-claro p {
 color: #8a8fa3;
}

.conteiner-cards{
    display: flex;
    justify-content: center;
}

.limitar-secao{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

}

@media screen and (max-width: 768px) {
    .conteiner-cards{
        flex-direction: column;
    }
}