header {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 z-index: 1;
 padding: 1.25rem;
}
.topo-modo-claro {
 background-color: #fff;
 
}
.logo {
 max-height: 35px;
}

.icone {
 width: 1.6rem;
 height: 1.6rem;
}

button {
 display: flex;
 align-items: center;
 padding: 10px 10px;
 cursor: pointer;
}

.botao-claro {
 background-color: #fff;
 border-radius: 25px;
 border: 2px solid #747272;
}
